@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rubik');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(158, 158, 158, 0.15);
}
